<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <connectionStrings>
    <!--<add name="ARTMANDB" connectionString="Server=EZPPRGDEV;Database=ARTMAN;Trusted_Connection=True;Connection Timeout=30"/>-->
    <!--<add name="DB" connectionString="Data Source='.\SqlExpress'; Initial Catalog=ARTMAN; Integrated Security=true;MultipleActiveResultSets=True;Connection Timeout=30" />-->

    <add name="ARTMANDB" 
         connectionString="Data Source=(localdb)\MSSQLLocalDB;AttachDbFilename=|DataDirectory|\Resources\ArtManDB.mdf;Integrated Security=True; MultipleActiveResultSets=True;" 
         providerName="System.Data.SqlClient" />
  </connectionStrings>
  
  <startup> 
      <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
  </startup>
</configuration>
